@model NBA_Reseed.Models.PlayoffViewModel


@{
    ViewBag.Title = "Playoffs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>



<html>



<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/hint.css/2.6.0/hint.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Bracket16.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Teko:400,500,700&display=swap" rel="stylesheet" type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900,900i&display=swap" rel="stylesheet">

    <title>View</title>
</head>

<body>

   
    <div class="container">
        <br />
        <br />
        <br />
        <br />



        <div class="carouselBracket">

            <div class="celebrationImage">
                <img src="~/Content/Celebrations/2020_raptors_celeb.png" />

            </div>

            <div class="playoffTitle">
                <h1>2019 NBA Playoffs</h1>
            </div>

            <div class="bracketContainer">

                <div class="victoryImageContainer">
                    <img style="opacity:0.5;" src="~/Content/NBA_TeamLogos/Raptors.png" />
                </div>
                <div class="victoryImageContainer">
                    <img src="~/Content/NBA_TeamLogos/Raptors.png" />
                </div>

                @****************** Left Side ******************@


                <div class="matchupRectangle LFR_Matchup1_Position shadow">

                    <div class="Team1_Seed">
                        <p>1</p>
                    </div>
                    <div class="Team2_Seed">
                        <p>8</p>
                    </div>
                    <div class="TeamName_1">
                        <p>TOR</p>
                    </div>
                    <div class="TeamName_2">
                        <p>OKC</p>
                    </div>

                    <div class="Team1_SeriesCount">
                        <p>4</p>
                    </div>

                    <div class="RecordDash">
                        <p>-</p>
                    </div>

                    <div class="Team2_SeriesCount">
                        <p>3</p>
                    </div>

                    <div class="Team1_WinPCT">
                        <p>73-19</p>
                    </div>

                    <div class="Team2_WinPCT">
                        <p>73-9</p>
                    </div>

                    <div class="MR_TeamDetail"></div>
                    <div class="MR_Team1"></div>
                    <div class="MR_Team2"></div>
                    <div class="MR_LogoContainer_Team1">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>
                    <div class="MR_LogoContainer_Team2">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/grizzlies.png" />
                    </div>

                </div>



                <div class="matchupRectangle LFR_Matchup2_Position shadow">
                    <div class="MatchupData">
                        <div class="Team1_Seed">
                            <p>4</p>
                        </div>
                        <div class="Team2_Seed">
                            <p>5</p>
                        </div>
                        <div class="TeamName_1">
                            <p>TOR</p>
                        </div>
                        <div class="TeamName_2">
                            <p>OKC</p>
                        </div>

                        <div class="Team1_SeriesCount">
                            <p>4</p>
                        </div>

                        <div class="RecordDash">
                            <p>-</p>
                        </div>

                        <div class="Team2_SeriesCount">
                            <p>3</p>
                        </div>

                        <div class="Team1_WinPCT">
                            <p>73-9</p>
                        </div>

                        <div class="Team2_WinPCT">
                            <p>73-9</p>
                        </div>
                    </div>
                    <div class="MR_TeamDetail"></div>
                    <div class="MR_Team1"></div>
                    <div class="MR_Team2"></div>
                    <div class="MR_LogoContainer_Team1">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>
                    <div class="MR_LogoContainer_Team2">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>

                </div>


                <div class="matchupRectangle LFR_Matchup3_Position shadow">
                    <div class="MatchupData">
                        <div class="Team1_Seed">
                            <p>3</p>
                        </div>
                        <div class="Team2_Seed">
                            <p>6</p>
                        </div>
                        <div class="TeamName_1">
                            <p>TOR</p>
                        </div>
                        <div class="TeamName_2">
                            <p>OKC</p>
                        </div>

                        <div class="Team1_SeriesCount">
                            <p>4</p>
                        </div>

                        <div class="RecordDash">
                            <p>-</p>
                        </div>

                        <div class="Team2_SeriesCount">
                            <p>3</p>
                        </div>

                        <div class="Team1_WinPCT">
                            <p>73-9</p>
                        </div>

                        <div class="Team2_WinPCT">
                            <p>73-9</p>
                        </div>
                    </div>
                    <div class="MR_TeamDetail"></div>
                    <div class="MR_Team1"></div>
                    <div class="MR_Team2"></div>
                    <div class="MR_LogoContainer_Team1">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>
                    <div class="MR_LogoContainer_Team2">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>
                </div>

                <div class="matchupRectangle LFR_Matchup4_Position shadow">
                    <div class="MatchupData">
                        <div class="Team1_Seed">
                            <p>2</p>
                        </div>
                        <div class="Team2_Seed">
                            <p>7</p>
                        </div>
                        <div class="TeamName_1">
                            <p>TOR</p>
                        </div>
                        <div class="TeamName_2">
                            <p>OKC</p>
                        </div>

                        <div class="Team1_SeriesCount">
                            <p>4</p>
                        </div>

                        <div class="RecordDash">
                            <p>-</p>
                        </div>

                        <div class="Team2_SeriesCount">
                            <p>3</p>
                        </div>

                        <div class="Team1_WinPCT">
                            <p>73-9</p>
                        </div>

                        <div class="Team2_WinPCT">
                            <p>73-9</p>
                        </div>
                    </div>
                    <div class="MR_TeamDetail"></div>
                    <div class="MR_Team1"></div>
                    <div class="MR_Team2"></div>
                    <div class="MR_LogoContainer_Team1">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>
                    <div class="MR_LogoContainer_Team2">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>

                </div>

                <div class="matchupRectangle L_QF1_Position shadow">
                    <div class="MatchupData">
                        <div class="Team1_Seed">
                            <p>2</p>
                        </div>
                        <div class="Team2_Seed">
                            <p>7</p>
                        </div>
                        <div class="TeamName_1">
                            <p>TOR</p>
                        </div>
                        <div class="TeamName_2">
                            <p>OKC</p>
                        </div>

                        <div class="Team1_SeriesCount">
                            <p>4</p>
                        </div>

                        <div class="RecordDash">
                            <p>-</p>
                        </div>

                        <div class="Team2_SeriesCount">
                            <p>3</p>
                        </div>

                        <div class="Team1_WinPCT">
                            <p>73-9</p>
                        </div>

                        <div class="Team2_WinPCT">
                            <p>73-9</p>
                        </div>
                    </div>
                    <div class="LFR_Line1"></div>
                    <div class="MR_TeamDetail"></div>
                    <div class="MR_Team1"></div>
                    <div class="MR_Team2"></div>
                    <div class="MR_LogoContainer_Team1">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>
                    <div class="MR_LogoContainer_Team2">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>
                </div>

                <div class="matchupRectangle L_QF2_Position shadow">
                    <div class="MatchupData">
                        <div class="Team1_Seed">
                            <p>2</p>
                        </div>
                        <div class="Team2_Seed">
                            <p>7</p>
                        </div>
                        <div class="TeamName_1">
                            <p>TOR</p>
                        </div>
                        <div class="TeamName_2">
                            <p>OKC</p>
                        </div>

                        <div class="Team1_SeriesCount">
                            <p>4</p>
                        </div>

                        <div class="RecordDash">
                            <p>-</p>
                        </div>

                        <div class="Team2_SeriesCount">
                            <p>3</p>
                        </div>

                        <div class="Team1_WinPCT">
                            <p>73-9</p>
                        </div>

                        <div class="Team2_WinPCT">
                            <p>73-9</p>
                        </div>
                    </div>
                    <div class="LFR_Line2"></div>
                    <div class="MR_TeamDetail"></div>
                    <div class="MR_Team1"></div>
                    <div class="MR_Team2"></div>
                    <div class="MR_LogoContainer_Team1">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>
                    <div class="MR_LogoContainer_Team2">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>
                </div>

                <div class="matchupRectangle L_Semi_Position shadow">
                    <div class="MatchupData">
                        <div class="Team1_Seed">
                            <p>2</p>
                        </div>
                        <div class="Team2_Seed">
                            <p>7</p>
                        </div>
                        <div class="TeamName_1">
                            <p>TOR</p>
                        </div>
                        <div class="TeamName_2">
                            <p>OKC</p>
                        </div>

                        <div class="Team1_SeriesCount">
                            <p>4</p>
                        </div>

                        <div class="RecordDash">
                            <p>-</p>
                        </div>

                        <div class="Team2_SeriesCount">
                            <p>3</p>
                        </div>

                        <div class="Team1_WinPCT">
                            <p>73-9</p>
                        </div>

                        <div class="Team2_WinPCT">
                            <p>73-9</p>
                        </div>
                    </div>
                    <div class="L_SemiLine"></div>
                    <div class="MR_TeamDetail"></div>
                    <div class="MR_Team1"></div>
                    <div class="MR_Team2"></div>
                    <div class="MR_LogoContainer_Team1">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>
                    <div class="MR_LogoContainer_Team2">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>
                </div>

                @******************Finals******************@
                <div class="matchupRectangleFinals Finals_Position shadow">
                    <div class="MatchupData">
                        <div class="Team1_Seed_Finals">
                            <p>2</p>
                        </div>
                        <div class="Team2_Seed_Finals">
                            <p>7</p>
                        </div>
                        <div class="TeamName_1_Finals">
                            <p>TOR</p>
                        </div>
                        <div class="TeamName_2_Finals">
                            <p>OKC</p>
                        </div>

                        <div class="Team1_SeriesCount_Finals">
                            <p>4</p>
                        </div>

                        <div class="RecordDash_Finals">
                            <p>-</p>
                        </div>

                        <div class="Team2_SeriesCount_Finals">
                            <p>3</p>
                        </div>

                        <div class="Team1_WinPCT_Finals">
                            <p>73-9</p>
                        </div>

                        <div class="Team2_WinPCT_Finals">
                            <p>73-9</p>
                        </div>
                    </div>
                    <div class="MR_TeamDetail"></div>
                    <div class="MR_Team1"></div>
                    <div class="MR_Team2"></div>
                    <div class="trophyContainer">
                        <img class="img-fluid" src="~/Content/NBA_TeamLogos/trophy.png" />
                    </div>
                    <div class="MR_LogoContainer_Finals_Team1">
                        <img class="MR_Logo_Finals" src="~/Content/NBA_TeamLogos/Raptors.png" />


                    </div>
                    <div class="MR_LogoContainer_Finals_Team2">
                        <img class="MR_Logo_Finals" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>
                    <div class="Finals_Line"></div>

                </div>

                @****************** Right Side ******************@

                <div class="matchupRectangle R_Semi_Position shadow">
                    <div class="MatchupData">
                        <div class="Team1_Seed">
                            <p>2</p>
                        </div>
                        <div class="Team2_Seed">
                            <p>7</p>
                        </div>
                        <div class="TeamName_1">
                            <p>TOR</p>
                        </div>
                        <div class="TeamName_2">
                            <p>OKC</p>
                        </div>

                        <div class="Team1_SeriesCount">
                            <p>4</p>
                        </div>

                        <div class="RecordDash">
                            <p>-</p>
                        </div>

                        <div class="Team2_SeriesCount">
                            <p>3</p>
                        </div>

                        <div class="Team1_WinPCT">
                            <p>73-9</p>
                        </div>

                        <div class="Team2_WinPCT">
                            <p>73-9</p>
                        </div>
                    </div>
                    <div class="R_SemiLine"></div>
                    <div class="MR_TeamDetail">

                    </div>
                    <div class="MR_Team1"></div>
                    <div class="MR_Team2"></div>
                    <div class="MR_LogoContainer_Team1">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>
                    <div class="MR_LogoContainer_Team2">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>
                </div>

                <div class="matchupRectangle R_QF2_Position shadow">
                    <div class="MatchupData">
                        <div class="Team1_Seed">
                            <p>2</p>
                        </div>
                        <div class="Team2_Seed">
                            <p>7</p>
                        </div>
                        <div class="TeamName_1">
                            <p>TOR</p>
                        </div>
                        <div class="TeamName_2">
                            <p>OKC</p>
                        </div>

                        <div class="Team1_SeriesCount">
                            <p>4</p>
                        </div>

                        <div class="RecordDash">
                            <p>-</p>
                        </div>

                        <div class="Team2_SeriesCount">
                            <p>3</p>
                        </div>

                        <div class="Team1_WinPCT">
                            <p>73-9</p>
                        </div>

                        <div class="Team2_WinPCT">
                            <p>73-9</p>
                        </div>
                    </div>
                    <div class="RFR_Line2"></div>
                    <div class="MR_TeamDetail"></div>
                    <div class="MR_Team1"></div>
                    <div class="MR_Team2"></div>
                    <div class="MR_LogoContainer_Team1">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>
                    <div class="MR_LogoContainer_Team2">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>
                </div>

                <div class="matchupRectangle R_QF1_Position shadow">
                    <div class="MatchupData">
                        <div class="Team1_Seed">
                            <p>2</p>
                        </div>
                        <div class="Team2_Seed">
                            <p>7</p>
                        </div>
                        <div class="TeamName_1">
                            <p>TOR</p>
                        </div>
                        <div class="TeamName_2">
                            <p>OKC</p>
                        </div>

                        <div class="Team1_SeriesCount">
                            <p>4</p>
                        </div>

                        <div class="RecordDash">
                            <p>-</p>
                        </div>

                        <div class="Team2_SeriesCount">
                            <p>3</p>
                        </div>

                        <div class="Team1_WinPCT">
                            <p>73-9</p>
                        </div>

                        <div class="Team2_WinPCT">
                            <p>73-9</p>
                        </div>
                    </div>
                    <div class="RFR_Line1"></div>
                    <div class="MR_TeamDetail"></div>
                    <div class="MR_Team1"></div>
                    <div class="MR_Team2"></div>
                    <div class="MR_LogoContainer_Team1">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>
                    <div class="MR_LogoContainer_Team2">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>
                </div>

                <div class="matchupRectangle RFR_Matchup1_Position shadow">
                    <div class="MatchupData">
                        <div class="Team1_Seed">
                            <p>1</p>
                        </div>
                        <div class="Team2_Seed">
                            <p>8</p>
                        </div>
                        <div class="TeamName_1">
                            <p>TOR</p>
                        </div>
                        <div class="TeamName_2">
                            <p>OKC</p>
                        </div>

                        <div class="Team1_SeriesCount">
                            <p>4</p>
                        </div>

                        <div class="RecordDash">
                            <p>-</p>
                        </div>

                        <div class="Team2_SeriesCount">
                            <p>3</p>
                        </div>

                        <div class="Team1_WinPCT">
                            <p>73-9</p>
                        </div>

                        <div class="Team2_WinPCT">
                            <p>73-9</p>
                        </div>
                    </div>
                    <div class="MR_TeamDetail"></div>
                    <div class="MR_Team1"></div>
                    <div class="MR_Team2"></div>
                    <div class="MR_LogoContainer_Team1">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>
                    <div class="MR_LogoContainer_Team2">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>

                </div>

                <div class="matchupRectangle RFR_Matchup2_Position shadow">
                    <div class="MatchupData">
                        <div class="Team1_Seed">
                            <p>4</p>
                        </div>
                        <div class="Team2_Seed">
                            <p>5</p>
                        </div>
                        <div class="TeamName_1">
                            <p>TOR</p>
                        </div>
                        <div class="TeamName_2">
                            <p>OKC</p>
                        </div>

                        <div class="Team1_SeriesCount">
                            <p>4</p>
                        </div>

                        <div class="RecordDash">
                            <p>-</p>
                        </div>

                        <div class="Team2_SeriesCount">
                            <p>3</p>
                        </div>

                        <div class="Team1_WinPCT">
                            <p>73-9</p>
                        </div>

                        <div class="Team2_WinPCT">
                            <p>73-9</p>
                        </div>
                    </div>
                    <div class="MR_TeamDetail"></div>
                    <div class="MR_Team1"></div>
                    <div class="MR_Team2"></div>
                    <div class="MR_LogoContainer_Team1">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>
                    <div class="MR_LogoContainer_Team2">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>

                </div>

                <div class="matchupRectangle RFR_Matchup3_Position shadow">
                    <div class="MatchupData">
                        <div class="Team1_Seed">
                            <p>3</p>
                        </div>
                        <div class="Team2_Seed">
                            <p>6</p>
                        </div>
                        <div class="TeamName_1">
                            <p>TOR</p>
                        </div>
                        <div class="TeamName_2">
                            <p>OKC</p>
                        </div>

                        <div class="Team1_SeriesCount">
                            <p>4</p>
                        </div>

                        <div class="RecordDash">
                            <p>-</p>
                        </div>

                        <div class="Team2_SeriesCount">
                            <p>3</p>
                        </div>

                        <div class="Team1_WinPCT">
                            <p>73-9</p>
                        </div>

                        <div class="Team2_WinPCT">
                            <p>73-9</p>
                        </div>
                    </div>
                    <div class="MR_TeamDetail"></div>
                    <div class="MR_Team1"></div>
                    <div class="MR_Team2"></div>
                    <div class="MR_LogoContainer_Team1">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>
                    <div class="MR_LogoContainer_Team2">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>

                </div>

                <div class="matchupRectangle RFR_Matchup4_Position shadow">
                    <div class="MatchupData">
                        <div class="Team1_Seed">
                            <p>2</p>
                        </div>
                        <div class="Team2_Seed">
                            <p>7</p>
                        </div>
                        <div class="TeamName_1">
                            <p>TOR</p>
                        </div>
                        <div class="TeamName_2">
                            <p>OKC</p>
                        </div>

                        <div class="Team1_SeriesCount">
                            <p>4</p>
                        </div>

                        <div class="RecordDash">
                            <p>-</p>
                        </div>

                        <div class="Team2_SeriesCount">
                            <p>3</p>
                        </div>

                        <div class="Team1_WinPCT">
                            <p>73-9</p>
                        </div>

                        <div class="Team2_WinPCT">
                            <p>73-9</p>
                        </div>
                    </div>
                    <div class="MR_TeamDetail"></div>
                    <div class="MR_Team1"></div>
                    <div class="MR_Team2"></div>
                    <div class="MR_LogoContainer_Team1">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>
                    <div class="MR_LogoContainer_Team2">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>

                </div>

            </div>

        </div>


        <div class="carouselBracket">

            <div class="celebrationImage">
                <img src="~/Content/Celebrations/2020_lakers_celeb.png" />

            </div>

            <div class="playoffTitle">
                <h1>2018 NBA Playoffs</h1>
            </div>

            <div class="bracketContainer">

                <div class="victoryImageContainer">
                    <img  src="~/Content/Celebrations/Lakers.png" />
                </div>
               

                @****************** Left Side ******************@


                <div class="matchupRectangle LFR_Matchup1_Position shadow">

                    <div class="Team1_Seed">
                        <p>1</p>
                    </div>
                    <div class="Team2_Seed">
                        <p>8</p>
                    </div>
                    <div class="TeamName_1">
                        <p>TOR</p>
                    </div>
                    <div class="TeamName_2">
                        <p>OKC</p>
                    </div>

                    <div class="Team1_SeriesCount">
                        <p>4</p>
                    </div>

                    <div class="RecordDash">
                        <p>-</p>
                    </div>

                    <div class="Team2_SeriesCount">
                        <p>3</p>
                    </div>

                    <div class="Team1_WinPCT">
                        <p>73-19</p>
                    </div>

                    <div class="Team2_WinPCT">
                        <p>73-9</p>
                    </div>

                    <div class="MR_TeamDetail"></div>
                    <div class="MR_Team1"></div>
                    <div class="MR_Team2"></div>
                    <div class="MR_LogoContainer_Team1">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>
                    <div class="MR_LogoContainer_Team2">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/grizzlies.png" />
                    </div>

                </div>



                <div class="matchupRectangle LFR_Matchup2_Position shadow">
                    <div class="MatchupData">
                        <div class="Team1_Seed">
                            <p>4</p>
                        </div>
                        <div class="Team2_Seed">
                            <p>5</p>
                        </div>
                        <div class="TeamName_1">
                            <p>TOR</p>
                        </div>
                        <div class="TeamName_2">
                            <p>OKC</p>
                        </div>

                        <div class="Team1_SeriesCount">
                            <p>4</p>
                        </div>

                        <div class="RecordDash">
                            <p>-</p>
                        </div>

                        <div class="Team2_SeriesCount">
                            <p>3</p>
                        </div>

                        <div class="Team1_WinPCT">
                            <p>73-9</p>
                        </div>

                        <div class="Team2_WinPCT">
                            <p>73-9</p>
                        </div>
                    </div>
                    <div class="MR_TeamDetail"></div>
                    <div class="MR_Team1"></div>
                    <div class="MR_Team2"></div>
                    <div class="MR_LogoContainer_Team1">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>
                    <div class="MR_LogoContainer_Team2">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>

                </div>


                <div class="matchupRectangle LFR_Matchup3_Position shadow">
                    <div class="MatchupData">
                        <div class="Team1_Seed">
                            <p>3</p>
                        </div>
                        <div class="Team2_Seed">
                            <p>6</p>
                        </div>
                        <div class="TeamName_1">
                            <p>TOR</p>
                        </div>
                        <div class="TeamName_2">
                            <p>OKC</p>
                        </div>

                        <div class="Team1_SeriesCount">
                            <p>4</p>
                        </div>

                        <div class="RecordDash">
                            <p>-</p>
                        </div>

                        <div class="Team2_SeriesCount">
                            <p>3</p>
                        </div>

                        <div class="Team1_WinPCT">
                            <p>73-9</p>
                        </div>

                        <div class="Team2_WinPCT">
                            <p>73-9</p>
                        </div>
                    </div>
                    <div class="MR_TeamDetail"></div>
                    <div class="MR_Team1"></div>
                    <div class="MR_Team2"></div>
                    <div class="MR_LogoContainer_Team1">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>
                    <div class="MR_LogoContainer_Team2">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>
                </div>

                <div class="matchupRectangle LFR_Matchup4_Position shadow">
                    <div class="MatchupData">
                        <div class="Team1_Seed">
                            <p>2</p>
                        </div>
                        <div class="Team2_Seed">
                            <p>7</p>
                        </div>
                        <div class="TeamName_1">
                            <p>TOR</p>
                        </div>
                        <div class="TeamName_2">
                            <p>OKC</p>
                        </div>

                        <div class="Team1_SeriesCount">
                            <p>4</p>
                        </div>

                        <div class="RecordDash">
                            <p>-</p>
                        </div>

                        <div class="Team2_SeriesCount">
                            <p>3</p>
                        </div>

                        <div class="Team1_WinPCT">
                            <p>73-9</p>
                        </div>

                        <div class="Team2_WinPCT">
                            <p>73-9</p>
                        </div>
                    </div>
                    <div class="MR_TeamDetail"></div>
                    <div class="MR_Team1"></div>
                    <div class="MR_Team2"></div>
                    <div class="MR_LogoContainer_Team1">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>
                    <div class="MR_LogoContainer_Team2">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>

                </div>

                <div class="matchupRectangle L_QF1_Position shadow">
                    <div class="MatchupData">
                        <div class="Team1_Seed">
                            <p>2</p>
                        </div>
                        <div class="Team2_Seed">
                            <p>7</p>
                        </div>
                        <div class="TeamName_1">
                            <p>TOR</p>
                        </div>
                        <div class="TeamName_2">
                            <p>OKC</p>
                        </div>

                        <div class="Team1_SeriesCount">
                            <p>4</p>
                        </div>

                        <div class="RecordDash">
                            <p>-</p>
                        </div>

                        <div class="Team2_SeriesCount">
                            <p>3</p>
                        </div>

                        <div class="Team1_WinPCT">
                            <p>73-9</p>
                        </div>

                        <div class="Team2_WinPCT">
                            <p>73-9</p>
                        </div>
                    </div>
                    <div class="LFR_Line1"></div>
                    <div class="MR_TeamDetail"></div>
                    <div class="MR_Team1"></div>
                    <div class="MR_Team2"></div>
                    <div class="MR_LogoContainer_Team1">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>
                    <div class="MR_LogoContainer_Team2">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>
                </div>

                <div class="matchupRectangle L_QF2_Position shadow">
                    <div class="MatchupData">
                        <div class="Team1_Seed">
                            <p>2</p>
                        </div>
                        <div class="Team2_Seed">
                            <p>7</p>
                        </div>
                        <div class="TeamName_1">
                            <p>TOR</p>
                        </div>
                        <div class="TeamName_2">
                            <p>OKC</p>
                        </div>

                        <div class="Team1_SeriesCount">
                            <p>4</p>
                        </div>

                        <div class="RecordDash">
                            <p>-</p>
                        </div>

                        <div class="Team2_SeriesCount">
                            <p>3</p>
                        </div>

                        <div class="Team1_WinPCT">
                            <p>73-9</p>
                        </div>

                        <div class="Team2_WinPCT">
                            <p>73-9</p>
                        </div>
                    </div>
                    <div class="LFR_Line2"></div>
                    <div class="MR_TeamDetail"></div>
                    <div class="MR_Team1"></div>
                    <div class="MR_Team2"></div>
                    <div class="MR_LogoContainer_Team1">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>
                    <div class="MR_LogoContainer_Team2">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>
                </div>

                <div class="matchupRectangle L_Semi_Position shadow">
                    <div class="MatchupData">
                        <div class="Team1_Seed">
                            <p>2</p>
                        </div>
                        <div class="Team2_Seed">
                            <p>7</p>
                        </div>
                        <div class="TeamName_1">
                            <p>TOR</p>
                        </div>
                        <div class="TeamName_2">
                            <p>OKC</p>
                        </div>

                        <div class="Team1_SeriesCount">
                            <p>4</p>
                        </div>

                        <div class="RecordDash">
                            <p>-</p>
                        </div>

                        <div class="Team2_SeriesCount">
                            <p>3</p>
                        </div>

                        <div class="Team1_WinPCT">
                            <p>73-9</p>
                        </div>

                        <div class="Team2_WinPCT">
                            <p>73-9</p>
                        </div>
                    </div>
                    <div class="L_SemiLine"></div>
                    <div class="MR_TeamDetail"></div>
                    <div class="MR_Team1"></div>
                    <div class="MR_Team2"></div>
                    <div class="MR_LogoContainer_Team1">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>
                    <div class="MR_LogoContainer_Team2">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>
                </div>

                @******************Finals******************@
                <div class="matchupRectangleFinals Finals_Position shadow">
                    <div class="MatchupData">
                        <div class="Team1_Seed_Finals">
                            <p>2</p>
                        </div>
                        <div class="Team2_Seed_Finals">
                            <p>7</p>
                        </div>
                        <div class="TeamName_1_Finals">
                            <p>TOR</p>
                        </div>
                        <div class="TeamName_2_Finals">
                            <p>OKC</p>
                        </div>

                        <div class="Team1_SeriesCount_Finals">
                            <p>4</p>
                        </div>

                        <div class="RecordDash_Finals">
                            <p>-</p>
                        </div>

                        <div class="Team2_SeriesCount_Finals">
                            <p>3</p>
                        </div>

                        <div class="Team1_WinPCT_Finals">
                            <p>73-9</p>
                        </div>

                        <div class="Team2_WinPCT_Finals">
                            <p>73-9</p>
                        </div>
                    </div>
                    <div class="MR_TeamDetail"></div>
                    <div class="MR_Team1"></div>
                    <div class="MR_Team2"></div>
                    <div class="trophyContainer">
                        <img class="img-fluid" src="~/Content/NBA_TeamLogos/trophy.png" />
                    </div>
                    <div class="MR_LogoContainer_Finals_Team1">
                        <img class="MR_Logo_Finals" src="~/Content/NBA_TeamLogos/Raptors.png" />


                    </div>
                    <div class="MR_LogoContainer_Finals_Team2">
                        <img class="MR_Logo_Finals" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>
                    <div class="Finals_Line"></div>

                </div>

                @****************** Right Side ******************@

                <div class="matchupRectangle R_Semi_Position shadow">
                    <div class="MatchupData">
                        <div class="Team1_Seed">
                            <p>2</p>
                        </div>
                        <div class="Team2_Seed">
                            <p>7</p>
                        </div>
                        <div class="TeamName_1">
                            <p>TOR</p>
                        </div>
                        <div class="TeamName_2">
                            <p>OKC</p>
                        </div>

                        <div class="Team1_SeriesCount">
                            <p>4</p>
                        </div>

                        <div class="RecordDash">
                            <p>-</p>
                        </div>

                        <div class="Team2_SeriesCount">
                            <p>3</p>
                        </div>

                        <div class="Team1_WinPCT">
                            <p>73-9</p>
                        </div>

                        <div class="Team2_WinPCT">
                            <p>73-9</p>
                        </div>
                    </div>
                    <div class="R_SemiLine"></div>
                    <div class="MR_TeamDetail">

                    </div>
                    <div class="MR_Team1"></div>
                    <div class="MR_Team2"></div>
                    <div class="MR_LogoContainer_Team1">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>
                    <div class="MR_LogoContainer_Team2">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>
                </div>

                <div class="matchupRectangle R_QF2_Position shadow">
                    <div class="MatchupData">
                        <div class="Team1_Seed">
                            <p>2</p>
                        </div>
                        <div class="Team2_Seed">
                            <p>7</p>
                        </div>
                        <div class="TeamName_1">
                            <p>TOR</p>
                        </div>
                        <div class="TeamName_2">
                            <p>OKC</p>
                        </div>

                        <div class="Team1_SeriesCount">
                            <p>4</p>
                        </div>

                        <div class="RecordDash">
                            <p>-</p>
                        </div>

                        <div class="Team2_SeriesCount">
                            <p>3</p>
                        </div>

                        <div class="Team1_WinPCT">
                            <p>73-9</p>
                        </div>

                        <div class="Team2_WinPCT">
                            <p>73-9</p>
                        </div>
                    </div>
                    <div class="RFR_Line2"></div>
                    <div class="MR_TeamDetail"></div>
                    <div class="MR_Team1"></div>
                    <div class="MR_Team2"></div>
                    <div class="MR_LogoContainer_Team1">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>
                    <div class="MR_LogoContainer_Team2">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>
                </div>

                <div class="matchupRectangle R_QF1_Position shadow">
                    <div class="MatchupData">
                        <div class="Team1_Seed">
                            <p>2</p>
                        </div>
                        <div class="Team2_Seed">
                            <p>7</p>
                        </div>
                        <div class="TeamName_1">
                            <p>TOR</p>
                        </div>
                        <div class="TeamName_2">
                            <p>OKC</p>
                        </div>

                        <div class="Team1_SeriesCount">
                            <p>4</p>
                        </div>

                        <div class="RecordDash">
                            <p>-</p>
                        </div>

                        <div class="Team2_SeriesCount">
                            <p>3</p>
                        </div>

                        <div class="Team1_WinPCT">
                            <p>73-9</p>
                        </div>

                        <div class="Team2_WinPCT">
                            <p>73-9</p>
                        </div>
                    </div>
                    <div class="RFR_Line1"></div>
                    <div class="MR_TeamDetail"></div>
                    <div class="MR_Team1"></div>
                    <div class="MR_Team2"></div>
                    <div class="MR_LogoContainer_Team1">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>
                    <div class="MR_LogoContainer_Team2">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>
                </div>

                <div class="matchupRectangle RFR_Matchup1_Position shadow">
                    <div class="MatchupData">
                        <div class="Team1_Seed">
                            <p>1</p>
                        </div>
                        <div class="Team2_Seed">
                            <p>8</p>
                        </div>
                        <div class="TeamName_1">
                            <p>TOR</p>
                        </div>
                        <div class="TeamName_2">
                            <p>OKC</p>
                        </div>

                        <div class="Team1_SeriesCount">
                            <p>4</p>
                        </div>

                        <div class="RecordDash">
                            <p>-</p>
                        </div>

                        <div class="Team2_SeriesCount">
                            <p>3</p>
                        </div>

                        <div class="Team1_WinPCT">
                            <p>73-9</p>
                        </div>

                        <div class="Team2_WinPCT">
                            <p>73-9</p>
                        </div>
                    </div>
                    <div class="MR_TeamDetail"></div>
                    <div class="MR_Team1"></div>
                    <div class="MR_Team2"></div>
                    <div class="MR_LogoContainer_Team1">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>
                    <div class="MR_LogoContainer_Team2">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>

                </div>

                <div class="matchupRectangle RFR_Matchup2_Position shadow">
                    <div class="MatchupData">
                        <div class="Team1_Seed">
                            <p>4</p>
                        </div>
                        <div class="Team2_Seed">
                            <p>5</p>
                        </div>
                        <div class="TeamName_1">
                            <p>TOR</p>
                        </div>
                        <div class="TeamName_2">
                            <p>OKC</p>
                        </div>

                        <div class="Team1_SeriesCount">
                            <p>4</p>
                        </div>

                        <div class="RecordDash">
                            <p>-</p>
                        </div>

                        <div class="Team2_SeriesCount">
                            <p>3</p>
                        </div>

                        <div class="Team1_WinPCT">
                            <p>73-9</p>
                        </div>

                        <div class="Team2_WinPCT">
                            <p>73-9</p>
                        </div>
                    </div>
                    <div class="MR_TeamDetail"></div>
                    <div class="MR_Team1"></div>
                    <div class="MR_Team2"></div>
                    <div class="MR_LogoContainer_Team1">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>
                    <div class="MR_LogoContainer_Team2">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>

                </div>

                <div class="matchupRectangle RFR_Matchup3_Position shadow">
                    <div class="MatchupData">
                        <div class="Team1_Seed">
                            <p>3</p>
                        </div>
                        <div class="Team2_Seed">
                            <p>6</p>
                        </div>
                        <div class="TeamName_1">
                            <p>TOR</p>
                        </div>
                        <div class="TeamName_2">
                            <p>OKC</p>
                        </div>

                        <div class="Team1_SeriesCount">
                            <p>4</p>
                        </div>

                        <div class="RecordDash">
                            <p>-</p>
                        </div>

                        <div class="Team2_SeriesCount">
                            <p>3</p>
                        </div>

                        <div class="Team1_WinPCT">
                            <p>73-9</p>
                        </div>

                        <div class="Team2_WinPCT">
                            <p>73-9</p>
                        </div>
                    </div>
                    <div class="MR_TeamDetail"></div>
                    <div class="MR_Team1"></div>
                    <div class="MR_Team2"></div>
                    <div class="MR_LogoContainer_Team1">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>
                    <div class="MR_LogoContainer_Team2">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>

                </div>

                <div class="matchupRectangle RFR_Matchup4_Position shadow">
                    <div class="MatchupData">
                        <div class="Team1_Seed">
                            <p>2</p>
                        </div>
                        <div class="Team2_Seed">
                            <p>7</p>
                        </div>
                        <div class="TeamName_1">
                            <p>TOR</p>
                        </div>
                        <div class="TeamName_2">
                            <p>OKC</p>
                        </div>

                        <div class="Team1_SeriesCount">
                            <p>4</p>
                        </div>

                        <div class="RecordDash">
                            <p>-</p>
                        </div>

                        <div class="Team2_SeriesCount">
                            <p>3</p>
                        </div>

                        <div class="Team1_WinPCT">
                            <p>73-9</p>
                        </div>

                        <div class="Team2_WinPCT">
                            <p>73-9</p>
                        </div>
                    </div>
                    <div class="MR_TeamDetail"></div>
                    <div class="MR_Team1"></div>
                    <div class="MR_Team2"></div>
                    <div class="MR_LogoContainer_Team1">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>
                    <div class="MR_LogoContainer_Team2">
                        <img class="MR_Logo" src="~/Content/NBA_TeamLogos/Raptors.png" />
                    </div>

                </div>

            </div>

        </div>

    </div>

    
</body>
</html>


