﻿
<!DOCTYPE html>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NBA Reseed - A Site that historically reseeds the NBA playoffs(coming soon)</title>

    <!-- Bootstrap core CSS -->

    

</head>

<body id="page-top">



    <!-- Header -->
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="callToAction">
                    <h1>Reseed the NBA Playoffs!</h1>
                </div>

                @*<div class="intro-lead-in">Welcome To Our Studio!</div>
            <div class="intro-heading">Historically reseed the NBA Playoffs!</div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>*@
            </div>
        </div>
    </header>

    <!-- Seed Formats -->
    <section class="page-section" id="services">
        <div class="container">
            <div class="row">
                <div class="silverQuote">
                    <h1>
                        "You would like to  <a href="https://www.cbssports.com/nba/news/adam-silver-hints-at-changes-to-nba-playoff-format-but-says-travel-is-top-hurdle/" target="_blank">
                            have a format
                        </a>  where your two best teams are ultimately going to meet in the Finals.
                    </h1>
                    <div style="display: inline-block;">

                        <h4>&mdash;Adam Silver, NBA Commisioner</h4>

                    </div>
                    &nbsp;
                </div>

            </div>
            <hr />
            <br />

            <blockquote class="blockquote text-center">
                <p class="mb-0">
                    It's pretty cool that the NBA is considering changing it's playoff format because if you're anything like me,
                    you've thought they should for years. This site explores how those changes would look and more. Keep scrolling for details and brackets! It's my love letter to the NBA and it's fans.
                </p>
                <footer class="blockquote-footer">Jason <cite title="Source Title">Full-Stack Developer/Full-blown NBA Fan</cite></footer>
            </blockquote>

            <br />
            @*<hr class="brass"/>
        <br />*@

            <div class="row text-center">
                <div class="col-md-12">
                    <h3>- Three Playoff Formats -</h3>
                    <h3 class="Explainer">That reseed the playoffs back to Michael Jordan's 1985 Rookie season!</h3>
                    <br />
                    <br />
                </div>

                <div class="row text-center">
                    <div class="col-md-4 seedFrame">

                        <h3 class="service-heading">Top 16</h3>
                        <p>A playoff format where the top 16 teams are taken based on win percentage regardless of conference.</p>
                    </div>

                    <div class="col-md-4 seedFrame">
                        <h3 class="service-heading">Semifinal Reseed</h3>
                        <p>Teams are reseeded in the semifinal round based on regular-season record.<a href="https://www.espn.com/nba/story/_/id/28145944/sources-nba-considering-reseeding-conference-finalists-postseason-play-in" target="_blank"> The NBA is seriously considering this format.</a></p>
                    </div>

                    <div class="col-md-4">
                        <h3 class="service-heading">In-Season Tournament</h3>
                        <p>European soccer has an in-season tournament. Adam silver <a href="https://www.espn.com/nba/story/_/id/28145944/sources-nba-considering-reseeding-conference-finalists-postseason-play-in" target="_blank"> wants the NBA to adopt this idea </a>in addition to the NBA playoffs. You'll be able to take a historical look at how this tournament bracket would look!</p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Footer -->

    <!-- Bootstrap core JavaScript -->

    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.js"></script>


    <!-- Plugin JavaScript -->
    <script src="~/Content/vendor/jquery-easing/jquery.easing.js"></script>

    <!-- Contact form JavaScript -->
    <script src="~/Content/js/jqBootstrapValidation.js"></script>
    <script src="~/Content/js/contact_me.js"></script>


    <!-- Custom scripts for this template -->
    <script src="~/Content/js/agency.js"></script>
</body>

</html>
    