body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    /*background-image: url('VictoryImages/Trophy_Large.png');*/
    background-image: url('VictoryImages/LandingScreen.png');
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg2 {
    /* The image used */
    background-image: url('VictoryImages/TrophyBracket.png');
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.redBar {
    background-color: #404040;
    position: fixed;
    width: 100%;
    height: 30%;
    bottom: 0;
    opacity: 0.5;
}

.trophy {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1500px;
    min-width: 100%;
    bottom: 400px;

}


/*.masthead {
    position: relative;
    max-width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url('VictoryImages/Trophy_Large.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

}*/



.quotePosition {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.blockquote {
    /*position: relative;*/
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #ffffff;
    padding: 30px 0;
    width: 100%;
    max-width: 500px;
    z-index: 1;
    margin: 80px auto;
    align-self: center;
    border-top: solid 1px;
    border-bottom: solid 1px;
}

    /* Blockquote header */
    .blockquote h1 {
        /*position: relative;*/
        color: #FFFFFF;
        font-size: 18px;
        font-weight: 800;
        line-height: 1;
        margin: 0;
    }

    /* Blockquote right double quotes */
    .blockquote:after {
        position: absolute;
        content: "”";
        color: rgba(255, 255, 255, 1);
        font-size: 10rem;
        line-height: 0;
        bottom: -43px;
        right: 30px;
    }



    /* Blockquote subheader */
    .blockquote h4 {
        position: relative;
        color: red;
        font-size: 1.4rem;
        font-weight: normal;
        line-height: 1;
        margin: 0;
        padding-top: 20px;
        z-index: 1;
    }


